<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <script>

    </script>
    <title>
        GH Pearson Answers
    </title>
    <link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
<div style="display: block">
<ul class="w3-navbar w3-teal w3-center w3-border-bottom w3-border-lightgray">
    <li style="width:100%; height: 10%">
        <a style="float: bottom" class="w3-padding w3-teal w3-center" href="/">
            <p> <strong> <h1> Pearson Answers </h1> </strong> </p>

        </a>
    </li>
</ul>
</div>

<style>
    body {
    background-color: grey;
    }

</style>
</body>
{{{body}}}
<div style="float: bottom;"><center><h5><strong>Website made by Luis, answers given by Lucas</strong></h5></center></div>