<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <title>
        Xmas Doodle
    </title>

</head>
<body>

<style>
    body {
    background-color: grey;
    }

</style>
</body>
{{{body}}}