<head>
    <title>
        Xmas Doodle
    </title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>
    body {
    background-color: grey;
    }

</style>
</body>
{{{body}}}