<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <script>

    </script>
    <title>
        GH Pearson Answers
    </title>
    <link rel="icon" href="http://example.com/favicon.png">
</head>
<body>

<style>
    body {
    background-color: grey;
    }

</style>
</body>
{{{body}}}