<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <script>

    </script>
    <title>
        GH Pearson Answers
    </title>
    <link rel="icon" href="http://example.com/favicon.png">
</head>
<body>
<ul class="w3-navbar w3-teal w3-center w3-border-bottom w3-border-lightgray">
    <li style="width:100%; height: 10%">
        <a class="w3-padding w3-teal w3-center" href="/">
            <p style="float: bottom"> <strong> <h1> Pearson Answers </h1> </strong> </p>

        </a>
    </li>
</ul>
<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
        <a href="javascript:void(0)" onclick="openPage('privacy');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('index');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Home</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('about');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">About</div>
        </a>
    </center>
</div>
<style>
    body {
    background-color: grey;
    }

</style>
</body>
{{{body}}}