<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
        <a href="javascript:void(0)" onclick="openPage('privacy');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('index');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Home</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('about');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-sand">About</div>
        </a>
    </center>
</div>
<div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-dark-grey">
    <center><h2>This website is entirely made for the purpose of distributing a set of data containing the answers to certain assignments between a selected group of people. Please contact us using the email provided in the "Privacy" section.</h2></center>
    <center><p><h3>This website in <strong>NO</strong> way is affiliated to © Pearson Education, Inc.</h3></center></p>
    </div>