<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
        <a href="javascript:void(0)" onclick="openPage('privacy');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('index');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-sand">Home</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('about');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">About</div>
        </a>
    </center>
</div>