<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <title>
        Xmas Doodle
    </title>
</head>
<body>
<ul class="w3-navbar w3-teal w3-center">
    <li style="width:100%"><a class="w3-padding w3-teal w3-center" href="/"><center><h1><p class="w3-green">Xmas Game</p></h1></center></a></li>
</ul>
<style>
    .center{
    top: 50%;
    left: 50%;
    }
</style>
<center>
    <p></p>
    <canvas class="w3-border w3-border-black" height="600" width="100" ></canvas>
</center>
</body>