<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <script type="text/javascript">


    </script>

        <title>
            GH Pearson Answers
        </title>
    <div style="position: fixed;
text-align:center;
bottom: 0px;
width:100%;
z-index:999;">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Standard -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7713797170468014"
         data-ad-slot="2567241681"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
</head>

<body>

<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
    <a href="javascript:void(0)" onclick="openPage('privacy');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
    </a>
    <a href="javascript:void(0)" onclick="openPage('index');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Home</div>
    </a>
    <a href="javascript:void(0)" onclick="openPage('about');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">About</div>
    </a>
    </center>
</div>


</div>
<p></p>
<center><button class="w3-button w3-round w3-deep-orange w3-border w3-border-lightgray" style="height: 100px; width: 350px; margin: 20px">Pearson #1 - Geometry Lines and Angles</button></center>
<div id="London" class="w3-container w3-border city">
    <h2>London</h2>
    <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="w3-container w3-border city">
    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="w3-container w3-border city">
    <h2>Tokyo</h2>
    <p>Tokyo is the capital of Japan.</p>
</div>
</div>
<style>
    .center{
    top: 65%;
    left: 50%;
    }
</style>

<script>

</script>
</body>