<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <script type="text/javascript">


    </script>

        <title>
            GH Pearson Answers
        </title>
    <div style="position: fixed;
text-align:center;
bottom: 0px;
width:100%;
z-index:999;">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Standard -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-7713797170468014"
         data-ad-slot="2567241681"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
</head>

<body>
<ul class="w3-navbar w3-teal w3-center w3-border-bottom w3-border-lightgray">
    <li style="width:100%; height: 10%">
        <a class="w3-padding w3-teal w3-center" href="/">
            <p style="float: bottom"> <strong> <h1> Pearson Answers </h1> </strong> </p>

        </a>
    </li>
</ul>
<div class="w3-row w3-black">
    <center>
    <a href="javascript:void(0)" onclick="openCity(event, 'London');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">London</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Paris');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Paris</div>
    </a>
    <a href="javascript:void(0)" onclick="openCity(event, 'Tokyo');">
        <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Tokyo</div>
    </a>
    </center>
</div>


</div>
<p></p>
<center><button class="w3-button w3-round w3-deep-orange w3-border w3-border-lightgray" style="height: 100px; width: 350px; margin: 20px">Pearson #1 - Geometry Lines and Angles</button></center>
<style>
    .center{
    top: 65%;
    left: 50%;
    }
</style>

<script>

</script>
</body>