<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
    <title>
        Xmas Doodle
    </title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7713797170468014",
            enable_page_level_ads: true
        });
    </script>
</head>
<body>
<ul class="w3-navbar w3-teal w3-center w3-border-bottom w3-border-lightgray">

</ul>
<style>
    .center{
    top: 65%;
    left: 50%;
    }
</style>

</body>