<head>
    <title>
        Xmas Doodle
    </title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<ul class="w3-navbar w3-green w3-center">
    <li style="width:100%"><h2 class="w3-shadowing-text w3-center"><center>Xmas Doodle</center><h2/></h2></li></ul>
<style>
    .center{
    top: 50%;
    left: 50%;
    }
</style>
<center>
    <p class="center">Canvas Goes Here</p>
</center>
</body>