<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
        <a href="javascript:void(0)" onclick="openPage('privacy');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('index');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-sand">Home</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('about');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">About</div>
        </a>
    </center>
</div>
<table class="w3-table-all w3-centered" id="myTable">
    <thead>
    <tr class="w3-light-grey w3-hover-red">
        <th>Answers</th>
    </tr>
    </thead>
</table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    var g = 0;
    setInterval(function () {
        if(g<82) {
            var string = ['1. ', '2.B', '3.A', '4.A', '5', '6.A', '7.A', '8.B', '9.A', '10.A', '11.D', '12.C', '13.C', '14. ', '15.B', '16. ', '17.D', '18.C', '19.D', '20.C', '21.D', '22.B', '23.B', '24.C', '25.C', '26.A', '27.C', '28.D', '29.C', '30.D', '31.B', '32. ', '33. ', '34.C', '35.A', '36.D', '37. ', '38.D', '39.B', '40.D', '41.B', '42.D', '43.D', '44. ', '45.A', '46.D', '47.D', '48.A', '49.D', '50', '51.A', '52. ', '53.A', '54. ', '55.B', '56.C', '57.D', '58.D', '59.C', '60.D', '61.A', '62. ', '63.B', '64.C', '65.A', '66.C', '67.A', '68.C', '69.C', '70.D', '71.D', '72.C', '73.C', '74.D', '75.C', '76.D', '77.C', '78.D', '79.C', '80.C', '81.B', '82.C'];

                split = string[g].split(".");
                var answer = split[1];
                var thevab = "#" + split[0] + " - " + split[1];
                if (answer == "A")
                    $('#myTable').append('<tr class="w3-hover-red"><td>' + thevab + '</td></tr>');
                if (answer == "B")
                    $('#myTable').append('<tr class="w3-hover-blue"><td>' + thevab + '</td></tr>');
                if (answer == "C")
                    $('#myTable').append('<tr class="w3-hover-green"><td>' + thevab + '</td></tr>');
                if (answer == "D")
                    $('#myTable').append('<tr class="w3-hover-yellow"><td>' + thevab + '</td></tr>');
            if(answer = " ")
                $('#myTable').append('<tr class="w3-hover-grey"><td>' + "#" + split[0] + " - " + "UNKNOWN" + '</td></tr>');
            g++
        }
    }, 200);

</script>