<!DOCTYPE html>
<html>
<script>

    function openPage(cityName) {
        window.location.href = '/' + cityName;
    }
</script>

<div class="w3-row w3-black">
    <center>
        <a href="javascript:void(0)" onclick="openPage('privacy');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">Privacy</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('index');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-sand">Home</div>
        </a>
        <a href="javascript:void(0)" onclick="openPage('about');">
            <div class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-white">About</div>
        </a>
    </center>
</div>
<table class="w3-table-all w3-centered" id="myTable">
    <thead>
    <tr class="w3-light-grey">
        <th>Answers</th>
    </tr>
    </thead>
</table>
<div id="notification" style="display: none;">
    <span class="dismiss"><a title="dismiss this notification">x</a></span>
</div>
<style>
    #notification {
        position:fixed;
        top:0px;
        width:100%;
        z-index:105;
        text-align:center;
        font-weight:normal;
        font-size:12px;
        font-weight:bold;
        color:white;
        background-color:#FF7800;
        padding:3px;
    }
    #notification span.dismiss {
        border:2px solid #FFF;
        padding:0 5px;
        cursor:pointer;
        float:right;
        margin-right:10px;
    }
    #notification a {
        color:white;
        text-decoration:none;
        font-weight:bold
    }
    .foo {
        display:inline-flex;
        width: 13px;
        height: 13px;
        margin: 2px;
        border: 1px solid rgba(0, 0, 0, .2);
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $("#notification").fadeIn("slow").append("<center>Color Code: A = <div class='foo w3-red'></div>  B = <div class='foo w3-blue'></div>  C = <div class='foo w3-green'></div>  D = <div class='foo w3-yellow'></div></center>");
    $(".dismiss").click(function(){
        $("#notification").fadeOut("slow");
    });
    var g = 0;
    setInterval(function () {
        if(g<82) {
            var string = ['1.B', '2.C', '3.D', '4.B', '5.D', '6.B', '7.D', '8.C', '9.C', '10.D', '11.B', '12.Unknown.D', '13.D', '14.C', '15.Unknown.A', '16.C', '17.B', '18.C', '19.C', '20.B', '21.A', '22.A', '23.A', '24.B', '25.B', '26.Unknown', '27.A', '28.B', '29.C', '30.B', '31.Unknown', '32.A', '33.B', '34.B', '35.Unknown', '36.Unknown', '37.B', '38.D', '39.Unknown', '40.D', '41.D', '42.Unknown.A', '43.C', '44.A', '45.D', '46.A', '47.Unknown.C', '48.A', '49.B', '50.A', '51.D', '52.D', '53.B', '54.C', '55.A', '56.Unknown.C', '57.A', '58.Unknown.B', '59.Unknown.A', '60.D', '61.D', '62.Unknown.D', '63.A', '64.B', '65.D', '66.B', '67.A', '68.Unknown.C', '69.A'];
            try {
                split = string[g].split(".");
                var answer = split[1];
                var thevab = "#" + split[0] + " - " + split[1];
                if (answer == "A") {
                    $('#myTable').append('<tr class="w3-hover-red"><td>' + thevab + '</td></tr>');
                }
                else if (answer == "B") {
                    $('#myTable').append('<tr class="w3-hover-blue"><td>' + thevab + '</td></tr>');
                }
                else if (answer == "C") {
                    $('#myTable').append('<tr class="w3-hover-green"><td>' + thevab + '</td></tr>');
                }
                else if (answer == "D") {
                    $('#myTable').append('<tr class="w3-hover-yellow"><td>' + thevab + '</td></tr>');
                }
                else if (answer = "Unknown") {
                    $('#myTable').append('<tr class="w3-hover-grey"><td>' + "#" + split[0] + " - " + "Unknown " + "(Wrong: " + split[2] + ")" + '</td></tr>');
                }
                g++
            } catch (err){

            }
        }
    }, 200);

</script>
</html>